<!DOCTYPE html>
<html lang="en">
    <head>
      {{>headerlinks}}
    </head>
    <body>
        {{>navbar}}
        <!-- main header -->
        <div class="container-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                  <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="" class="img-fluid">
                        </figure>
                          </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                      <p>Welcome to the weather app</p>
                      <h1>I am a<span style="color:#0096e6;"> Mern Stack Developer </span></h1>
                      <h2>Connect With me :)</h2>
                      <div class="connect">
                        <a href="https://www.linkedin.com/in/aviral-jain-38a600257"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                        <a href="https://github.com/AviralJain32"><i class="fa-brands fa-github fa-2xl"></i></a>
                        <a href="https://instagram.com/_aviral__jain_?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"><i class="fa-brands fa-instagram fa-2xl"></i></a>                        
                    </div>
                    
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {{>footer}}
    </body>
</html>
